extends layout
block content
	h1= title
	p Welcome to top reviews
	ul
		each review, i in reviews
			li= i + ':' + review.name + ' ' + review.placeType + ' '
				- for (var x = 0; x < review.stars; x++)
					img(src="http://icons.iconarchive.com/icons/lovuhemant/merry-christmas/24/Star-empty-icon.png")
				button(type='submit' onclick="deleteReview('#{review.id}')") Delete
				img(src="http://icons.iconarchive.com/icons/designcontest/outline/16/Pen-2-icon.png", onclick="updateReview('#{review.id}')")
		
		div
			a(href="/reviews/api/") Get back to all reviews